{% extends 'base_template.html' %}
{% load humanize %}

{% block title %}
	{{ employee.name }}
{% endblock %}

{% block content %}
	{% include 'navbar.html' %}
	<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-5">
			<div class="card text-center">
				<div class="card-body">
					{% if employee.profile %}
						<img src="{{ employee.profile.url }}" height="200px" width="200px" alt="" class="card-img-top">
					{% endif %}
					<h2 class="card-title">{{ employee.name }}</h2>
					<p class="card-text">Email: {{ employee.email }}</p>
					<p class="card-text">Born on: {{ employee.dob }}</p>
					<p class="card-text">Salary: Kes: {{ employee.salary | intcomma}} </p>
					<p class="card-text">Added: {{ employee.created_at | naturaltime }}</p>
					<p class="card-text">Updated: {{ employee.updated_at | naturaltime }}</p>

					<a href="{% url 'delete' employee.id %}" class="btn btn-danger w-50 mb-1">Delete</a>
					<br>
					<a href="{% url 'update' employee.id %}" class="btn btn-info w-50 ">Update</a>
				</div>
				{#				employees/delete/id#}
			</div>
		</div>
	</div>
</div>
{% endblock %}


